* {
    margin: 0;
    
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.897);
    padding: 1% 0;
}

li {
    list-style: none;
    text-decoration: none;
    display: inline-block;
    margin: 15px;
    color: white;
}

h1 {
    color: white;
}