.ItemsProducts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-items: center;
}

.ItemsProducts p {
    font-size: 1.2rem;
    color: #555;
    text-align: center;
    grid-column: span 2;
}
